<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <input [(ngModel)]="title" type="text">
        <br>
        Welcome to {{ title }}!
      </h1>
      <hr>
      <app-servers></app-servers>
      <button
      (click)="onWarn()">WARN</button>
      <button
        (click)="onSafe()">Safe</button>
      <p id="greenFlag" *ngIf="!warningFlag; else ngWarning">
        <app-sucess></app-sucess>
      </p>
      <ng-template #ngWarning>
        <app-warning></app-warning>
      </ng-template>


      <hr>
    </div>
  </div>
</div>
